.style-wrapper {
  display: flex;
}

.badge-area-show {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: #666;
  position: relative;
}

.bagde-flag-wrap {
  	position: absolute;
    top: 10px;
    left: -10px;
}

.bagde-flag-wrap::before {
    content: "";
    position: absolute;
    top: 18px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #ecb41c transparent transparent;
}

.bagde-flag {
	text-transform: capitalize;
    color: #ffffff;
    background: #ecb41c;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    padding: 10px 15px;
	display: block;
  text-decoration: none;
}
